
.container {
	margin-top: 75px;
}

body {
	background-image: url("../images/flag.jpg");
	background-size: 100% auto;
	color: white;
	font-size: 1.9em;
	font-family: 'Arvo', serif;

}

.jumbotron {
	background-image: url("../images/declerationOfIndependence.jpg");
	width: 80%;
	margin: 0 auto;
	border: 3px solid black;
}

#gameContainer {
	background-image: url("../images/declerationOfIndependence.jpg");
	margin: 0 auto;
	border: 3px solid black;
}

.questionRow {
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 25px;
	padding-top: 15px;
}

#questionSpace {
	font-size: 1.5em;
	margin-bottom: 15px;
	color: red;
}

#infoTxt {
	color: red;
}






#footer {
	margin-top: 250px;
	margin-bottom: 15px;
}